Body 
	{background:#AFB8CD;
	link: black;
	vlink: black;
	margin-left: .15in; 
	margin-right: .15in; 
	margin-top: .15in;}

P 
	{font: 10pt arial, helvetica; 
	color:Black;}	
	.bold
	{font-weight: bold; color: black;}
	.red
	{color:red;}
	.normal
	{font: 10pt arial, helvetica; 
	color:black;}
	
ol, ul 
	{font: 10pt arial, helvetica; 
	color:black;}

li, tr, td 
	{font: 10pt arial, helvetica; 
	color:black;}

H1
	{font: 12pt arial, helvetica; 
	font-weight: bold;
	color: black;}
	.bastard
	{font-size: 10pt; 
	font-color: black;
	font-style: italic;}
	.tiny
	{font-size: 8pt; 
	font-weight: regular;
	color: black;}

H2
	{font: 10pt arial, helvetica; 
	font-weight: bold;
	color: black;}